@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Pacifico&display=swap');


#pageHeading
{
    background-color: #6EE7B7;
    padding: .5rem;
    margin-bottom: 1rem;
    font-family: 'Pacifico', cursive;
    font-size: 21px;
    

}
#btn-div
{
    text-align: center;

}

    h1{
        text-align: center;
    }
    textarea{
        width: 60%;
        height: 12rem;
        display: block;
        margin: auto; 
        background-color: #2eddcf;
        font-family: 'Pacifico', cursive;
        font-size: 21px;
        color: rgb(104, 97, 104);
        border: 0px;
    }
    #txt.input
    {
      text-align: left;  
    }
    #output{
        width: 60%;
        height: 12rem;
        display: block;
        margin: auto; 
        background-color: #2eddcf;
        font-family: 'Pacifico', cursive;
        font-size: 21px;
        color: rgb(104, 97, 104);
    }
   

    #btn-translate
    {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: #FCA5A5;
    }
    #footer-text
    {
        background-color: #6EE7B7;
        font-family: 'Pacifico', cursive;
        text-align: center;
        padding-bottom: 2rem;
        padding-top: 2rem;
        font-size: 16px;
    }
