@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #333333;
}

main {
    margin: auto;
    padding: 1rem;
    max-width : 600px;
}


#pageHeading
{
    background-color: #6EE7B7;
    padding: .5rem;
    margin-bottom: 1rem;
    font-family: 'Kalam', cursive;
    font-size: 21px;
    

}
#btn-div
{
    text-align: center;

}

    h1{
        text-align: center;
    }
    textarea{
        min-height: 10vh;
        max-height: 20vh;
        width: 50%;
        display: block;
        margin: auto;
        font-size: 21px;
        border: 1px solid black;
    }
    #txt.input
    {
      text-align: left;  
    }
    #output{
      
        font-size: 21px;
        box-sizing: border-box;
        width: 100%;
        min-height: 10vh;
        max-height: 20vh;
        overflow:scroll;
       border: 1px solid black;
    }
   

    #btn-translate
    {
        
            background-color: #6EE7B7;
            border: none;
            margin: 1rem 0rem;
            padding: 1rem 2rem;
            font-family: 'Kalam', cursive;
            font-size: large;
        
    }
    footer
    {
        background-color: #6EE7B7;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
